@charset "UTF-8";
.indent-column {
  padding-left: 15px;
  padding-right: 15px;
}

.indent-row {
  margin-left: -15px;
  margin-right: -15px;
}

.indent-column__img-desc {
  padding-left: 5px;
  padding-right: 5px;
}

.indent-row__img-desc {
  margin-left: -5px;
  margin-right: -5px;
}

.material-wrapper .material-img:after, .material-wrapper .material-block, .material-wrapper .material-block .material__rubric:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: '';
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-moz-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Merriweather-LightItalic';
  src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf);
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: 'Merriweather-Italic';
  src: url(../fonts/Merriweather/Merriweather-Italic.ttf);
}

.border-btm-grey {
  border-bottom: 1px solid #c1c1c1;
}

.p-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-tb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-global-ind {
  margin-bottom: 30px;
}

.row-global-indent {
  margin-left: -15px;
  margin-right: -15px;
}

.nav {
  font-family: 'Poppins-SemiBold';
}

input, button {
  outline: none;
  border: none;
}

body {
  font-size: 16px;
  font-family: 'Poppins-Regular';
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  font-size: 36px;
  font-family: 'Poppins-Bold';
  letter-spacing: 6px;
}

.logo span {
  color: #f00;
}

.post {
  width: 100%;
  font-family: 'Merriweather-LightItalic';
  color: #ccd2d2;
  font-size: 14px;
}

ul.nav a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

ul.nav a:hover {
  color: #f00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.next-prev {
  float: right;
}

.next-prev a {
  border: 1px solid #c1c1c1;
  width: 40px;
  height: 40px;
  background-position: 50%;
  background-repeat: no-repeat;
  float: left;
}

.next-prev a.prev {
  background-image: url(../img/angle-left.png);
}

.next-prev a.next {
  background-image: url(../img/angle-right.png);
  border-left: 0;
}

.material-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.material-wrapper .material-video iframe {
  width: 100%;
  height: 450px;
}

.material-wrapper .material-img {
  height: 100%;
  display: block;
}

.material-wrapper .material-img img {
  width: 100%;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.material-wrapper .material-img:after {
  width: 100%;
  z-index: 2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0a1636), color-stop(70%, transparent));
  background-image: -webkit-linear-gradient(bottom, #0a1636, transparent 70%);
  background-image: -o-linear-gradient(bottom, #0a1636, transparent 70%);
  background-image: linear-gradient(to top, #0a1636, transparent 70%);
}

.material-wrapper .material-img.material-img__view:after {
  background-image: none;
}

.material-wrapper .material-block {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: 'Poppins-SemiBold';
  padding: 30px;
}

.material-wrapper .material-block > * {
  margin-top: 20px;
}

.material-wrapper .material-block .material__rubric, .material-wrapper .material-block .material__desc, .material-wrapper .material-block .material__post {
  position: relative;
  z-index: 3;
}

.material-wrapper .material-block .material__rubric {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #000;
  padding: 2px 17px;
}

.material-wrapper .material-block .material__rubric:after {
  background-color: #f00;
  width: 5px;
}

.material-wrapper .material-block .material__desc {
  color: #fff;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
}

.material-wrapper .material-block .material__desc.material__small-text {
  font-size: 18px;
  line-height: 24px;
}

.material-wrapper .material-block .material__desc.material__medium-text {
  font-size: 24px;
  line-height: 30px;
}

.material-wrapper__left {
  height: 560px;
  margin-right: 10px;
}

.material-wrapper__right {
  height: 275px;
}

.material-wrapper__right-top1, .material-wrapper__right-top2 {
  margin-bottom: 10px;
}

.material-wrapper__right-top1 {
  margin-right: 5px;
}

.material-wrapper__right-top2 {
  margin-left: 5px;
}

.title-block {
  margin-bottom: 30px;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #c1c1c1;
  border-left: 5px solid #f00;
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins-SemiBold';
}

.title-block .next-prev a.next {
  border-right: 0;
}

.stars .star.cover {
  color: #f00;
}

.banner__center {
  text-align: center;
  margin-bottom: 30px;
}

.video-play-circle {
  color: #fff;
  position: absolute;
  z-index: 1111;
  top: 50%;
  left: 50%;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pagination {
  margin-bottom: 30px;
  font-family: 'Poppins-SemiBold';
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .empty {
  color: #a4abab;
}

.pagination .fa-angle-left {
  margin-right: 10px;
}

.pagination .fa-angle-right {
  margin-left: 10px;
}

.pagination .pagination__numb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .pagination__numb a {
  display: inline-block;
}

.pagination .pagination__numb a:not(:last-child) {
  margin-right: 30px;
}

.pagination .pagination__numb a.active {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #000;
  color: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons {
  float: right;
  color: #5f6565;
  font-size: 12px;
}

.social-icons a:not(:first-child) {
  margin-left: 25px;
}

/* HEADER START */
.header__top {
  color: #5f6565;
  font-size: 12px;
}

.header__top a {
  color: #5f6565;
}

.header__top .header__date {
  padding: 5px 0;
  float: left;
  padding-right: 45px;
  border-right: 1px solid #c1c1c1;
}

.header__top .header__login .header__subscribe {
  color: #f00;
  padding-right: 12px;
}

.header__top .header__login .header__signIn {
  padding-left: 12px;
}

.header__middle .header__baner {
  float: right;
}

.header__bottom {
  background-color: #000000;
  color: #ffffff;
}

.header__bottom ul.header__bottom-nav {
  font-size: 13px;
  text-transform: uppercase;
}

.header__bottom ul.header__bottom-nav li:not(:last-child) {
  margin-right: 50px;
}

.header__bottom .header__search-form {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__bottom .header__search-form input.search {
  background-color: #000000;
  color: #ffffff;
  width: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-left: 10px;
}

.header__bottom .header__search-form.open-search {
  z-index: 111;
  width: 100%;
}

.header__bottom .header__search-form.open-search input.search {
  width: 100%;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__bottom .search-btn {
  cursor: pointer;
  font-size: 22px;
}

/* HEADER END */
/* breaking-news START */
.breaking-news {
  margin: 30px 0;
}

.break-news__title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Poppins-SemiBold';
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 15px 30px;
}

.break-news__desc {
  font-family: 'Poppins-Medium';
}

/* breaking-news END */
/* news start */
ul.news-nav {
  font-size: 14px;
  font-family: 'Poppins-Medium';
  text-transform: none;
}

ul.news-nav li {
  margin-right: 20px;
}

ul.news-nav li a {
  color: #222626;
}

.news__descr-wrap {
  margin-bottom: 30px;
}

.news__descr-wrap p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 20px;
}

.news__descr-header {
  font-family: 'Poppins-Medium';
  margin-bottom: 5px;
}

.news__descr-big-header {
  font-size: 24px;
  line-height: 28px;
}

.news__descr-small-header {
  font-size: 14px;
  line-height: 20px;
}

.news__social-block-wrap {
  margin-bottom: 30px;
  border: 1px solid #c1c1c1;
  height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__social-block-wrap .news__social-block {
  text-align: center;
  font-size: 16px;
  color: #5f6565;
  font-family: 'Poppins-Regular';
}

.news__social-block-wrap .news__social-block a {
  font-size: 28px;
}

.news__social-block-wrap .news__social-block a.facebook {
  color: #506dae;
}

.news__social-block-wrap .news__social-block a.twitter {
  color: #14c4f8;
}

.news__social-block-wrap .news__social-block a.youtube {
  color: #e34d3c;
}

.news__social-block-wrap .news__social-block span {
  display: block;
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
}

.news__right-block {
  margin-left: 30px;
}

.news__banner-right {
  border: 1px solid #c1c1c1;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
}

.comments-block__wrap {
  margin-bottom: 30px;
}

.comments-block {
  font-family: 'Merriweather-Italic';
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #c1c1c1;
}

.comments-block:first-child {
  padding-top: 0;
}

.comments-block:last-child {
  padding-bottom: 0;
  border: 0;
}

.comments-block span {
  font-family: 'Merriweather-Bold';
}

.news__videos {
  margin-bottom: 30px;
}

.page-name {
  padding: 60px 0;
  background-color: #f3f4f4;
  margin-bottom: 30px;
}

.page-name__breadcrum, .page-name__breadcrum a {
  font-size: 18px;
  color: #5f6565;
}

.page-name__title {
  font-size: 48px;
  color: #222626;
  font-family: 'Poppins-SemiBold';
}

.btn {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.page-name__select {
  float: right;
}

.page-view__title {
  font-size: 36px;
  line-height: 48px;
  font-family: 'Poppins-SemiBold';
  margin-bottom: 30px;
}

.page-view__date-profile-author-wrap {
  color: #a4abab;
  font-size: 16px;
  font-family: 'Merriweather-Italic';
  margin-bottom: 30px;
}

.content__list li:not(:first-child) {
  margin-top: 10px;
}

.content__list i {
  margin-right: 5px;
}

.content__list-wrap {
  margin-bottom: 30px;
}

.content__list-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Poppins-SemiBold';
}

.content__quote-wrap {
  padding: 40px;
  border: 1px solid #e9eaea;
  margin-bottom: 30px;
}

.content__quote-wrap .content__quote {
  position: relative;
  font-family: 'Merriweather-Italic';
  color: #5f6565;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 30px;
}

.content__quote-wrap .content__quote:after {
  content: '”';
  position: absolute;
  font-size: 150px;
  color: rgba(113, 124, 124, 0.1);
  left: -10px;
  top: 50px;
}

.content__quote-wrap .content__quote-author {
  font-family: 'Poppins-SemiBold';
  font-size: 22px;
}

.content__quote-wrap .content__quote-author-position {
  margin-top: 10px;
  color: #a4abab;
  font-size: 12px;
  letter-spacing: 5px;
}

.tags__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.tags__wrap a {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #e9eaea;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tags__wrap a:not(:last-child) {
  margin-right: 10px;
}

.comments-number {
  color: #222626;
  font-size: 24px;
  font-family: 'Poppins-SemiBold';
  margin-bottom: 30px;
}

.page__view-comments-wrap {
  margin-bottom: 30px;
}

.page__view-comments-wrap.answer {
  padding-left: 101px;
}

.comments-wrap__left-part {
  padding-right: 30px;
  padding-bottom: 30px;
  float: left;
  border-right: 1px solid #e9eaea;
}

.comments-wrap__left-part img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments-wrap__right-part {
  padding-left: 30px;
  float: left;
  width: -webkit-calc(100% - 101px);
  width: calc(100% - 101px);
}

.comments-wrap__right-part-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.comments-wrap__date {
  color: #a4abab;
  font-size: 14px;
  font-family: 'Merriweather-Italic';
}

.comments-wrap__author {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Poppins-SemiBold';
}

.comments-wrap__btn {
  display: inline-block;
  padding: 4px 30px;
  border: 1px solid #222626;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Poppins-SemiBold';
}

.comments-wrap__btn.black {
  background-color: #222626;
  color: #fff;
}

.send-comment-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Poppins-SemiBold';
}

.send-comment-form input, .send-comment-form textarea {
  display: block;
  border-bottom: 1px solid #e9eaea;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.send-comment-form input::-webkit-input-placeholder, .send-comment-form textarea::-webkit-input-placeholder {
  color: #a4abab;
}

.send-comment-form input:-moz-placeholder, .send-comment-form textarea:-moz-placeholder {
  color: #a4abab;
}

.send-comment-form input::-moz-placeholder, .send-comment-form textarea::-moz-placeholder {
  color: #a4abab;
}

.send-comment-form input:-ms-input-placeholder, .send-comment-form textarea:-ms-input-placeholder {
  color: #a4abab;
}

.send-comment-form input:focus, .send-comment-form textarea:focus {
  border-bottom: 1px solid #222626;
}

.send-comment-form textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #e9eaea;
}

.send-comment-form .send-btn {
  margin-top: 30px;
  background-color: #222626;
  color: #fff;
}

.material-video iframe {
  z-index: 11111;
}

.footer-top {
  background-color: #222626;
  color: #a4abab;
}

.footer-top .news__descr-header {
  color: #a4abab;
}

.social-footer {
  font-family: 'Poppins-SemiBold';
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #393c3c;
  text-transform: uppercase;
}

.social-footer a {
  color: #a4abab;
  display: block;
}

.social-footer a:hover {
  color: #f00;
}

.social-footer a i {
  margin-right: 15px;
}

.footer__logo {
  color: #fff;
}

.footer__descr {
  margin-top: 40px;
}

form.form-subscribe {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 8px;
  padding-right: 20px;
  border-bottom: 1px solid #393c3c;
}

form.form-subscribe input {
  background: transparent;
  display: block;
  font-size: 14px;
  width: 100%;
}

form.form-subscribe input::-webkit-input-placeholder {
  color: #a4abab;
}

form.form-subscribe input:-moz-placeholder {
  color: #a4abab;
}

form.form-subscribe input::-moz-placeholder {
  color: #a4abab;
}

form.form-subscribe input:-ms-input-placeholder {
  color: #a4abab;
}

form.form-subscribe span {
  position: absolute;
  right: 0;
  top: 0;
}

.footer__title {
  color: #fff;
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
  margin-bottom: 40px;
}

.footer__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu li {
  margin-bottom: 17px;
}

.footer__menu a {
  color: #a4abab;
  font-family: 'Poppins-Regular';
}

.footer-bottom {
  padding: 25px 0;
  background-color: #171919;
  font-size: 14px;
  font-family: 'Poppins-Regular';
  color: #5f6565;
}

.footer-bottom ul.nav {
  float: right;
}

.footer-bottom ul.nav li:not(:first-child) {
  margin-left: 30px;
}

.footer-bottom ul.nav a {
  color: #5f6565;
  font-family: 'Poppins-Regular';
}

@media (max-width: 1199px) {
  .header__top .header__date {
    padding-right: 20px;
  }
  .header__logo {
    text-align: center;
  }
  .header__middle .header__baner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    margin-top: 20px;
  }
  .header__middle .header__baner img {
    max-width: 100%;
  }
  .material-wrapper__left {
    margin-right: 0;
  }
  .material-wrapper__right-top1, .material-wrapper__right-top2, .material-wrapper__left {
    margin-bottom: 10px;
  }
  .news__banner-right {
    padding: 0;
  }
  .news__banner-right img {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .header__bottom ul.nav li:not(:last-child) {
    margin-right: 15px;
  }
  .material-wrapper {
    height: auto;
  }
  .material-wrapper__right-top1, .material-wrapper__right-top2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .material-wrapper .material-block .material__desc, .material-wrapper .material-block .material__desc.material__small-text, .material-wrapper .material-block .material__desc.material__medium-text {
    font-size: 24px;
    line-height: 30px;
  }
  .news__right-block {
    margin-left: 0;
  }
  .news__banner-right {
    border: none;
    float: right;
  }
  .banner__center img {
    max-width: 100%;
  }
  .social-footer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
  }
  .social-footer li {
    width: 33.33%;
    margin-bottom: 10px;
  }
  .footer-bottom ul.nav li:not(:first-child) {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .header__top .header__login {
    float: right;
  }
  .header__middle .header__baner {
    display: none;
  }
  .header__bottom .header__search-form {
    background-color: #000000;
    padding-top: 15px;
  }
  .next-prev {
    float: none;
  }
  .break-news__desc {
    margin: 20px 0;
  }
  .next-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__left-block-inner, .news__img-medium {
    margin-right: 0;
  }
  .news__right-block-inner {
    margin-left: 0;
  }
  .news__social-block-wrap {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .row-global-indent {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-bottom ul.nav {
    margin-top: 10px;
    float: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-bottom ul.nav li:not(:first-child) {
    margin-left: 0;
  }
  .social-icons {
    text-align: center;
    margin-top: 20px;
    float: none;
  }
  .material-wrapper {
    position: relative;
    margin-bottom: 30px;
  }
  .material-wrapper .material-video iframe {
    width: 100%;
    height: 350px;
  }
  .page-name__title {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .header__bottom .header__search-form {
    padding-bottom: 20px;
  }
  .break-news__desc, .break-news__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .material-wrapper .material-video iframe {
    width: 100%;
    height: 250px;
  }
  .material-wrapper .material-block {
    padding: 15px;
  }
  .material-wrapper .material-block .material__desc, .material-wrapper .material-block .material__desc.material__small-text, .material-wrapper .material-block .material__desc.material__medium-text {
    font-size: 18px;
    line-height: 24px;
  }
  .material-wrapper .material-block > * {
    margin-top: 10px;
  }
  .news__social-block-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .news__banner-right {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .social-footer li {
    width: 50%;
    margin-bottom: 10px;
  }
  .page__view-comments-wrap.answer {
    padding-left: 40px;
  }
  .comments-wrap__right-part-top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .comments-wrap__date-author {
    width: 100%;
    margin-bottom: 10px;
  }
}
