.border-btm-grey
    border-bottom: 1px solid #c1c1c1
.p-tb-10
    padding-top: 10px
    padding-bottom: 10px
.p-tb-20
    padding-top: 20px
    padding-bottom: 20px
.p-tb-30
    padding-top: 30px
    padding-bottom: 30px
.p-tb-70
    padding-top: 70px
    padding-bottom: 70px
.m-t-0
    margin-top: 0
.m-b-global-ind
    margin-bottom: $indent-news-global
.row-global-indent
    margin-left: -$indent-news-global/2
    margin-right: -$indent-news-global/2
.nav
    font-family: 'Poppins-SemiBold'
input, button
    outline: none
    border: none
body
    font-size: 16px
    font-family: 'Poppins-Regular'
a, a:hover
    text-decoration: none
    color: #000
ul
    margin: 0
    padding: 0
    list-style-type: none
/////////////////////////////////////////////////
.logo
    font-size: 36px
    font-family: 'Poppins-Bold'
    letter-spacing: 6px
    span
        color: $color-1
.post
    width: 100%
    font-family: 'Merriweather-LightItalic'
    color: #ccd2d2
    font-size: 14px
ul.nav
    a
        color: $color-2
        transition: $transition-1
        &:hover
            color: $color-1
            transition: $transition-1

.next-prev
    float: right
    a
        border: 1px solid #c1c1c1
        width: 40px
        height: 40px
        background-position: 50%
        background-repeat: no-repeat
        float: left
        &.prev
            background-image: url(../img/angle-left.png)
        &.next
            background-image: url(../img/angle-right.png)
            border-left: 0
/////////////////////////////////////////////////
.material-wrapper
    position: relative
    margin-bottom: $indent-news-global
    .material-video
        iframe
            width: 100%
            height: 450px
    .material-img
        height: 100%
        display: block
        img
            width: 100%
            position: relative
            z-index: 1
            object-fit: cover
            height: 100%
        &:after
            @extend %abs-h-100per
            width: 100%
            z-index: 2
            background-image: linear-gradient(to top, #0a1636, transparent 70%)
        &.material-img__view:after
            background-image: none
    .material-block
        @extend %abs-h-100per
        color: #fff
        display: flex
        align-items: flex-end
        align-content: flex-end
        flex-wrap: wrap
        font-family: 'Poppins-SemiBold'
        padding: 30px
        & > *
            margin-top: 20px
        .material__rubric, .material__desc, .material__post
            position: relative
            z-index: 3
        .material__rubric
            color: #fff
            text-transform: uppercase
            font-size: 12px
            background-color: #000
            padding: 2px 17px
            &:after
                @extend %abs-h-100per
                background-color: $color-1
                width: $hor-line-width
        .material__desc
            color: #fff
            width: 100%
            font-size: 30px
            line-height: 36px
            &.material__small-text
                font-size: 18px
                line-height: 24px
            &.material__medium-text
                font-size: 24px
                line-height: 30px
.material-wrapper__left
    height: $height-materials-left
    margin-right: $indent-materials
.material-wrapper__right
    height: ($height-materials-left/2) - ($indent-materials/2)
.material-wrapper__right-top1, .material-wrapper__right-top2
    margin-bottom: $indent-materials
.material-wrapper__right-top1
    margin-right: $indent-materials/2
.material-wrapper__right-top2
    margin-left: $indent-materials/2
    
.title-block
    margin-bottom: $indent-news-global
    position: relative
    font-size: 16px
    text-transform: uppercase
    border: 1px solid #c1c1c1
    border-left: $hor-line-width solid $color-1
    padding-left: 20px
    display: flex
    align-items: center
    height: 40px
    justify-content: space-between
    font-family: 'Poppins-SemiBold'
    .next-prev
        a
            &.next
                border-right: 0
/////////////////////////////////////////////////
.stars
    .star.cover
        color: $color-1
.banner__center
    text-align: center
    margin-bottom: $indent-news-global
.video-play-circle
    color: #fff
    position: absolute
    z-index: 1111
    top: 50%
    left: 50%
    font-size: 50px
    transform: translate(-50%, -50%)
///////////////////////////////////////////////
.pagination
    margin-bottom: $indent-news-global
    font-family: 'Poppins-SemiBold'
    font-size: 16px
    display: flex
    justify-content: space-between
    align-items: center
    .empty
        color: #a4abab
    .fa-angle-left
        margin-right: 10px
    .fa-angle-right
        margin-left: 10px
    .pagination__numb
        display: flex
        align-items: center
        a
            &:not(:last-child)
                margin-right: 30px
            display: inline-block
            &.active
                border-radius: 50%
                background-color: #000
                color: #fff
                height: 40px
                width: 40px
                display: flex
                justify-content: center
                align-items: center

///////////////////
.social-icons
    float: right
    a:not(:first-child)
        margin-left: 25px
    color: #5f6565;
    font-size: 12px;