$color-1 : #f00
$color-2 : #ffffff
$color-3 : #000000
$transition-1: 0.5s
$height-materials-left : 560px
$indent-materials : 10px
$hor-line-width : 5px
$indent-news-global : 30px
$indent-news-img-desc : 10px

@mixin indent($indent, $type)
    @if $type == margin
        $indent : -$indent    
    #{$type}-left: $indent/2
    #{$type}-right: $indent/2

@mixin ind-row($indent)
    margin-left: -$indent/2
    margin-right: -$indent/2

@mixin placeholder 
    &::-webkit-input-placeholder 
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder  
        @content

.indent-column
    @include indent($indent-news-global, padding) 
.indent-row
    @include indent($indent-news-global, margin)
.indent-column__img-desc
    @include indent($indent-news-img-desc, padding)
.indent-row__img-desc
    @include indent($indent-news-img-desc, margin)


%abs-h-100per
    position: absolute
    top: 0
    left: 0
    height: 100%
    content: ''

@include placeholder
    color: $color-2
@font-face
    font-family: 'Poppins-Regular'
    src: url(../fonts/Poppins/Poppins-Regular.ttf)
@font-face
    font-family: 'Poppins-SemiBold'
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf)
@font-face
    font-family: 'Poppins-Bold'
    src: url(../fonts/Poppins/Poppins-Bold.ttf)
@font-face
    font-family: 'Poppins-ExtraBold'
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf)
@font-face
    font-family: 'Poppins-Medium'
    src: url(../fonts/Poppins/Poppins-Medium.ttf)
@font-face
    font-family: 'Merriweather-LightItalic'
    src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf)
@font-face
    font-family: 'Merriweather-Bold'
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf)
@font-face
    font-family: 'Merriweather-Italic'
    src: url(../fonts/Merriweather/Merriweather-Italic.ttf)