@media (max-width: 1199px)
    .header__top
        .header__date
            padding-right: 20px
    .header__logo
        text-align: center
    .header__middle
        .header__baner
            justify-content: center
            display: flex
            float: none
            margin-top: 20px
            img
                max-width: 100%
    .material-wrapper__left
        margin-right: 0
    .material-wrapper__right-top1, .material-wrapper__right-top2, .material-wrapper__left
        margin-bottom: $indent-materials
    .news__banner-right
        padding: 0
        img
            max-width: 100%
        
@media (max-width: 991px)
    .header__bottom
        ul.nav
            li:not(:last-child)
                margin-right: 15px
    .material-wrapper
        height: auto
    .material-wrapper__right-top1, .material-wrapper__right-top2
        margin-left: 0
        margin-right: 0
        margin-bottom: $indent-materials
    .material-wrapper
        .material-block
            .material__desc, .material__desc.material__small-text, .material__desc.material__medium-text
                    font-size: 24px
                    line-height: 30px
    .news__right-block
        margin-left: 0
    .news__banner-right
        border: none
        float: right
    .banner__center
        img
            max-width: 100%
    .social-footer
        flex-wrap: wrap
        text-align: center
        li
            width: 33.33%
            margin-bottom: 10px
    .footer-bottom
        ul.nav
            li:not(:first-child)
                margin-left: 15px
@media (max-width: 767px)
    .header__top
        .header__login
            float: right
    .header__middle
        .header__baner
            display: none
    .header__bottom
        .header__search-form
            background-color: $color-3
            padding-top: 15px
    .next-prev
        float: none
    .break-news__desc
        margin: 20px 0
    .next-prev
        display: flex
        justify-content: center
    .news__left-block-inner, .news__img-medium
        margin-right: 0
    .news__right-block-inner
        margin-left: 0
    .news__social-block-wrap
        padding: 10px 0
        flex-direction: column
        height: auto
    .row-global-indent
        margin-left: 0
        margin-right: 0
    .footer-bottom
        ul.nav
            margin-top: 10px
            float: none
            justify-content: space-between
            li:not(:first-child)
                margin-left: 0
    .social-icons
        text-align: center
        margin-top: 20px
        float: none
    .material-wrapper
        position: relative
        margin-bottom: $indent-news-global
        .material-video
            iframe
                width: 100%
                height: 350px
    .page-name__title
        font-size: 26px
@media (max-width: 575px)
    .header__bottom
        .header__search-form
            padding-bottom: 20px
    .break-news__desc, .break-news__title
        display: flex
        justify-content: center
    .material-wrapper
        .material-video
            iframe
                width: 100%
                height: 250px
        .material-block
            padding: 15px
            .material__desc, .material__desc.material__small-text, .material__desc.material__medium-text
                    font-size: 18px
                    line-height: 24px
            & > *
                margin-top: 10px
    .news__social-block-wrap
        flex-direction: row
    .news__banner-right
        width: 300px
        margin-left: auto
        margin-right: auto
        float: none
    .social-footer
        li
            width: 50%
            margin-bottom: 10px
    .page__view-comments-wrap.answer
        padding-left: 40px
    .comments-wrap__right-part-top
        flex-wrap: wrap
    .comments-wrap__date-author
        width: 100%
        margin-bottom: 10px
    

    
        