@import 'framework.sass'
@import 'custom.sass'
/* HEADER START */
.header__top 
    color: #5f6565
    font-size: 12px
    a
        color: #5f6565
    .header__date
        padding: 5px 0
        float: left
        padding-right: 45px
        border-right: 1px solid #c1c1c1
    .header__login
        .header__subscribe
            color: $color-1
            padding-right: 12px
        .header__signIn
            padding-left: 12px
.header__middle
    .header__baner
        float: right
.header__bottom
    background-color: $color-3
    color: $color-2
    ul.header__bottom-nav
        font-size: 13px
        text-transform: uppercase
        li:not(:last-child)
            margin-right: 50px
    .header__search-form
        z-index: -1
        width: 100%
        position: absolute
        top: -5px
        left: 0
        transition: $transition-1
        input.search
            background-color: $color-3
            color: $color-2
            width: 0px
            transition: $transition-1
            padding-left: 10px
        &.open-search
            z-index: 111
            width: 100%
            input.search
                width: 100%
                border-bottom: 2px solid #fff;
                transition: $transition-1
    .search-btn
        cursor: pointer
        font-size: 22px
/* HEADER END */
/* breaking-news START */
.breaking-news
    margin: $indent-news-global 0
.break-news__title
    letter-spacing: 2px
    text-transform: uppercase
    font-family: 'Poppins-SemiBold'
    background-color: $color-3
    color: $color-2
    text-align: center
    display: inline-block
    padding: 15px 30px
.break-news__desc
    font-family: 'Poppins-Medium'
    

/* breaking-news END */
/* news start */
ul.news-nav
    font-size: 14px
    font-family: 'Poppins-Medium'
    text-transform: none
    li
        margin-right: 20px
        a
            color: #222626
.news__descr-wrap
    margin-bottom: $indent-news-global
    p
        font-size: 14px
        line-height: 26px
        margin-top: 20px
.news__descr-header
    font-family: 'Poppins-Medium'
    margin-bottom: 5px
.news__descr-big-header
    font-size: 24px
    line-height: 28px
.news__descr-small-header
    font-size: 14px
    line-height: 20px
.news__social-block-wrap
    margin-bottom: $indent-news-global
    border: 1px solid #c1c1c1
    height: 160px
    display: flex
    justify-content: space-around
    align-items: center
    .news__social-block
        text-align: center
        font-size: 16px
        color: #5f6565
        font-family: 'Poppins-Regular'
        a
            font-size: 28px
            &.facebook
                color: #506dae
            &.twitter
                color: #14c4f8
            &.youtube
                color: #e34d3c        
        span
            display: block
            font-family: 'Poppins-SemiBold'
            font-size: 20px
.news__right-block
    margin-left: $indent-news-global
.news__banner-right
    border: 1px solid #c1c1c1
    text-align: center
    padding: 30px 0
    margin-bottom: $indent-news-global
.comments-block__wrap
    margin-bottom: $indent-news-global 
.comments-block
    font-family: 'Merriweather-Italic'
    display: block
    padding: $indent-news-global/2 0
    border-bottom: 1px solid #c1c1c1
    &:first-child
        padding-top: 0
    &:last-child
        padding-bottom: 0
        border: 0
    span
        font-family: 'Merriweather-Bold'
.news__videos
    margin-bottom: $indent-news-global
.page-name
    padding: 60px 0
    background-color: #f3f4f4
    margin-bottom: $indent-news-global
.page-name__breadcrum, .page-name__breadcrum a
    font-size: 18px
    color: #5f6565
.page-name__title
    font-size: 48px
    color: #222626
    font-family: 'Poppins-SemiBold'
.btn
    border-radius: 0
.page-name__select
    float: right
.page-view__title
    font-size: 36px
    line-height: 48px
    font-family: 'Poppins-SemiBold'
    margin-bottom: $indent-news-global
.page-view__date-profile-author-wrap
    color: #a4abab
    font-size: 16px
    font-family: 'Merriweather-Italic'
    margin-bottom: $indent-news-global
.content__list li:not(:first-child)
    margin-top: 10px
.content__list i
    margin-right: 5px
.content__list-wrap
    margin-bottom: $indent-news-global
.content__list-title
    margin-bottom: 30px
    font-size: 24px
    font-family: 'Poppins-SemiBold'
.content__quote-wrap
    padding: 40px
    border: 1px solid #e9eaea
    margin-bottom: $indent-news-global
    .content__quote
        position: relative
        font-family: 'Merriweather-Italic'
        color: #5f6565
        font-size: 18px
        line-height: 32px
        margin-bottom: $indent-news-global
        &:after
            content: '”'
            position: absolute
            font-size: 150px
            color: rgba(113, 124, 124, 0.1)
            left: -10px
            top: 50px
    .content__quote-author
        font-family: 'Poppins-SemiBold'
        font-size: 22px
    .content__quote-author-position
        margin-top: 10px
        color: #a4abab
        font-size: 12px
        letter-spacing: 5px
.tags__wrap
    display: flex
    flex-wrap: wrap
    a
        padding: 5px
        margin-bottom: 10px
        border: 1px solid #e9eaea
        font-size: 11px
        text-transform: uppercase
        letter-spacing: 1px
    a:not(:last-child)
        margin-right: 10px
.comments-number
    color: #222626
    font-size: 24px
    font-family: 'Poppins-SemiBold'
    margin-bottom: $indent-news-global
.page__view-comments-wrap
    margin-bottom: $indent-news-global
    &.answer
        padding-left: 101px
.comments-wrap__left-part
    padding-right: $indent-news-global
    padding-bottom: $indent-news-global
    float: left
    border-right: 1px solid #e9eaea
    img
        width: 70px
        height: 70px
        object-fit: cover
.comments-wrap__right-part
    padding-left: $indent-news-global
    float: left
    width: calc(100% - 101px)
.comments-wrap__right-part-top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: $indent-news-global
.comments-wrap__date
    color: #a4abab
    font-size: 14px
    font-family: 'Merriweather-Italic'
.comments-wrap__author
    margin-top: 10px
    font-size: 18px
    font-family: 'Poppins-SemiBold'
    
.comments-wrap__btn
    display: inline-block
    padding: 4px 30px
    border: 1px solid #222626
    text-transform: uppercase
    letter-spacing: 2px
    font-family: 'Poppins-SemiBold'
    &.black
        background-color: #222626
        color: #fff
        
.send-comment-title
    margin-bottom: $indent-news-global
    font-size: 24px
    font-family: 'Poppins-SemiBold'
.send-comment-form
    input, textarea
        display: block
        border-bottom: 1px solid #e9eaea
        margin-bottom: 20px
        width: 100%
        padding-bottom: 10px
        @include placeholder
            color: #a4abab
        &:focus
            border-bottom: 1px solid #222626
    textarea
        border: none
        outline: none
        border-bottom: 1px solid #e9eaea
    .send-btn
        margin-top: 30px
        background-color: #222626
        color: #fff
.material-video
    iframe
        z-index: 11111
.footer-top
    background-color: #222626
    color: #a4abab
.footer-top .news__descr-header
    color: #a4abab
.social-footer
    font-family: 'Poppins-SemiBold'
    align-items: center
    justify-content: space-between
    padding: 40px 0
    border-bottom: 1px solid #393c3c
    text-transform: uppercase
    a
        color: #a4abab
        display: block
        &:hover
            color: $color-1
        i
            margin-right: 15px
.footer__logo
    color: #fff
.footer__descr
    margin-top: 40px
form.form-subscribe
    position: relative
    margin-top: 30px
    margin-bottom: 30px
    padding-bottom: 8px
    padding-right: 20px
    border-bottom: 1px solid #393c3c
    input
        background: transparent
        display: block
        font-size: 14px
        width: 100%
        @include placeholder
            color: #a4abab
    span
        position: absolute
        right: 0
        top: 0
.footer__title
    color: #fff
    font-family: 'Poppins-SemiBold'
    font-size: 20px
    margin-bottom: 40px
.footer__menu
    flex-direction: column
    li
        margin-bottom: 17px
    a
        color: #a4abab
        font-family: 'Poppins-Regular'
.footer-bottom
    padding: 25px 0
    background-color: #171919
    font-size: 14px
    font-family: 'Poppins-Regular'
    color: #5f6565
    ul.nav
        float: right
        li:not(:first-child)
            margin-left: 30px
        a
            color: #5f6565
            font-family: 'Poppins-Regular'
@import 'media.sass'

